@charset "utf-8";

.month-header {
    display: flex;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 3px solid #000;
    justify-content: space-evenly;
    font-size: 40px;
}

.month-pager {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 50%;
    font-size: 40px;
    text-align: center;
    align-self: center;
}

.calendar-cell {
    border-top: 1px solid #666;
    border-left: 1px solid #666;
    text-align: center;
    padding-top: 5px;
}

.border_r {
    border-right: 1px solid #666;
}

.border_b {
    border-bottom: 1px solid #666;
}

.day {
    color: #777;
}

.day-task {
    position: relative;
}

.task-count {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    padding-top: 10px;
    color: #555;
}

.start-tasks {
    position: absolute;
    top: 40px;
    left: 7px;
    background-color: rgba(255, 0, 0, 0.5);
}

.tasks-in-progress {
    position: absolute;
    top: 40px;
    left: 37px;
    background-color: rgba(0, 255, 0, 0.5);
}

.completed-tasks {
    position: absolute;
    top: 40px;
    left: 67px;
    background-color: rgba(0, 0, 255, 0.5);
}

/* grid setting by weeks count*/
.calendar {
    display: grid;
    grid-template-columns: 110px 110px 110px 110px 110px 110px 110px;
    justify-content: center;
}

.weeks-4 {
    grid-template-rows: 30px 110px 110px 110px 110px;
}

.weeks-5 {
    grid-template-rows: 30px 110px 110px 110px 110px 110px;
}

.weeks-6 {
    grid-template-rows: 30px 110px 110px 110px 110px 110px 110px;
}

/* place setting by class */
.day-header {
    grid-row: 1;
    background-color: #ddd;
}

.day-0 {
    grid-column: 1;
}

.day-1 {
    grid-column: 2;
}

.day-2 {
    grid-column: 3;
}

.day-3 {
    grid-column: 4;
}

.day-4 {
    grid-column: 5;
}

.day-5 {
    grid-column: 6;
}

.day-6 {
    grid-column: 7;
}

.week-1 {
    grid-row: 2;
}

.week-2 {
    grid-row: 3;
}

.week-3 {
    grid-row: 4;
}

.week-4 {
    grid-row: 5;
}

.week-5 {
    grid-row: 6;
}

.week-6 {
    grid-row: 7;
}